{% assign updates = include.updates | sort: "date" | reverse %}
<article class="update-archive">
  <h2 class="homepage-section__title">{{ include.title }}</h2>
  {% if updates.size > 0 %}
    <ul class="update-list update-archive__list">
      {% for update in updates %}
        <li>
          <a class="update-list__link" href="{{ update.url | relative_url }}">
            <time class="update-list__date" datetime="{{ update.date | date_to_xmlschema }}">{{ update.date | date: "%Y.%m.%d" }}</time>
            <span class="update-list__title">{{ update.title }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p class="homepage-section__empty">{{ include.empty_text }}</p>
  {% endif %}
</article>
